<!doctype html>

<html>
<head>
	<title>Nali Nails & Spa</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.css" rel="stylesheet">
	<link href="/css/pagestyle.css" rel="stylesheet">
	<link href="/css/slider.css" rel="stylesheet">
      
</head>

<body>

	<div class="container">
		<ul class= "topbar">
  			<li><a href="/">Home</a></li>
  			<li><a href="/menupage">View Menu</a></li>
  			<div class= "social_media">
	  			<li><a href="https://www.facebook.com/nalinailsandspa/?ref=bookmarks">Facebook</a></li>
	  			<li><a href="https://www.yelp.com/biz/nali-nails-and-spa-san-francisco-2">Yelp</a></li>
  			</div>
		</ul>

		<h1>Nali Nails & Spa</h1>

		<div style="text-align: center;">

			<button id="viewMenuBtn" type="button" class="btn btn-info">
				<a href="/menupage" style="color: white">View Menu</a>
			</button></br></br>
			<h4>Address:</h4>
			<p>1971 Sutter Street</p>
			<p>San Francisco, CA 94115</p>
			</br>
			<h4>Business Hours:</h4>
			<p>Monday-Saturday&nbsp&nbsp&nbsp&nbsp9:30AM - 7:30PM</p>
			<p>Sunday&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp10:00AM - 7:00PM</p>
			</br>
			<h4>Contact Us:</h4>
			<p><b>Phone Number:</b>&nbsp&nbsp (415) 872-9000</p>
			<p><b>Email:</b>&nbsp&nbsp nalinailsandspa@gmail.com</p>
		</div>
		</br>
		<div>
			<div class="menu_images" style="text-align: center">
		    	<img src="images/picture1.jpg" style="width: 70%; height:50%">
		    	</br></br></br>
		    	<img src="images/picture2.jpg" style="width: 70%; height:50%">
		    	</br></br></br>
		    	<img src="images/picture3.jpg" style="width: 70%; height:50%">
	    	</div>
    	</div>

    	</br></br></br>
    	<p id="copyright">Copyright &copy;2016 Nali Nails & Spa</p>
	</div>

	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/homepage.js"></script>
	<script src="/js/slider.js"></script>
</body>
</html>
