<!doctype html>

<html>
<head>
	<title>Nali Nails & Spa</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.css" rel="stylesheet">
	<link href="/css/homepage.css" rel="stylesheet">
	<link href="/css/slider.css" rel="stylesheet">
      
</head>

<body>

	<div class="container">
		<ul class= "topbar">
  			<li><a href="default.asp">Home</a></li>
  			<li><a href="news.asp">View Menu</a></li>
  			<li id="contactUs"><a href="contact.asp">Contact Us</a></li>
		</ul>

		<h1>Nali Nails & Spa</h1>
		</br>

		<div class= "left-div" style="display: inline-block;">
		<button id="viewMenuBtn">View Menu</button></br>
		<button id="contactUsBtn">Contact Us</button>

		<h4>Address:</h4>
		<p>1971 Sutter Street</p>
		<p>San Francisco, CA 94115</p>
		</br></br>
		<h4>Business Hours:</h4>
		<p>Monday-Saturday&nbsp&nbsp&nbsp&nbsp9:30AM - 7:30PM</p>
		<p>Sunday&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp10:00AM - 7:00PM</p>
		</div>

		<div class= "right-div" style="display: inline-block;">
		<!-- SLIDER  -->
		<section id="slider" class="slider-container">
      		<ul class="slider-wrapper">
        		<li class="current-slide">
         			<img src="images/img1.jpg" title="" alt="">
       			</li>
      			<li>
        			<img src="images/img2.jpg" title="" alt="">

      			</li>
				<li>
        			<img src="images/img3.jpg" title="" alt="">
      			</li>
      			<li>
       				<img src="images/img4.jpg" title="" alt="">
      			</li>
      			<li>
        			<img src="images/img5.jpg" title="" alt="">
      			</li>
      			<li>
        			<img src="images/img6.jpg" title="" alt="">
      			</li>
			</ul>
 
        	<div class="slider-shadow"></div>
          		<ul id="control-buttons" class="control-buttons"></ul>
    	</section>
    	</div>

    	</br></br></br>
    	<p id="copyright">Copyright &copy;2016 Nali Nails & Spa</p>
	</div>

	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/homepage.js"></script>
	<script src="/js/slider.js"></script>
</body>
</html>
